@using CVTemplate.Model;
@using CVTemplate.Pages;

@if (EmployeList != null)
{
    @foreach (EmployeModel employee in EmployeList)
    {
        <div class="forms">
            <div class="--input">
                <span>Position</span>
                <input spellcheck="false" type="text" @bind-value="employee.Title" />
            </div>
            <div class="_split" style="--c:2;">
                <div class="--input">
                    <span>Employee</span>
                    <input spellcheck="false" type="text" @bind-value="employee.Employee" />
                </div>
                <div class="--input">
                    <span>City</span>
                    <input spellcheck="false" type="text" @bind-value="employee.City" />
                </div>
            </div>
            <div class="_split" style="--c:2">
                <div class="--input">
                    <span>
                        Start date
                    </span>
                    <input spellcheck="false" type="date" @bind-value="employee.Started" />
                </div>
                <div class="--input _present">
                    <div>
                        <span>
                            End date
                        </span>
                        <div>
                            <input spellcheck="false" type="checkbox" id="@employee.CheckInput" @onchange="((e)=>CheckChange(e,employee.ID))">
                            <label for="@employee.CheckInput">Present</label>
                        </div>
                    </div>
                    <input spellcheck="false" type="date" @bind-value="employee.EndDate" />
                </div>
            </div>
            <div class="--input">
                <span>Description</span>
                <textarea @bind="employee.Description"></textarea>
            </div>
            <div class="forms-done">
                <button class="--button _primary _icon" @onclick="()=>RemoveEmployee(employee.ID)">
                    <span>
                        <CVTemplate.Shared.Assets.Delete />
                    </span>
                </button>
            @*    <button class="--button _secondary _icon" @onclick="()=>this.StateHasChanged()">
                    <span>
                        <cvtemplate.shared.assets.correct />
                    </span>
                    <span>
                        done
                    </span>
                </button>*@
            </div>
        </div>
    }
}


