:root {
  --colorPrimary: #2a2a30;
  --colorSecondary: rgb(63 63 69);
  --colorWhite: #fff;
  --colorBlue: #4314b6;
  --colorGrey: #f4f4f5;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
  --headerHeight: 100px;
  --maxWidth: 1000px;
  --radius: 3px;
  --colorBlue2: #4314b6;
}
header {
  display: none;
}
main {
  padding-top: 10px !important;
}
.header > div {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header > div button {
  min-width: 150px;
  min-height: 40px;
}
.header > div button span:last-child {
  display: none;
}
.header > div ._loading {
  pointer-events: none;
}
.header > div ._loading span {
  display: none;
}
.header > div ._loading span:last-child {
  display: block;
}
.header > div ._loading span:last-child svg {
  width: 15px;
  fill: var(--colorBlue2);
}
.formcontent {
  width: 100%;
}
.formcontent .pdf {
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  align-items: start;
  gap: 10px;
}
.formcontent .pdf-left {
  width: 30%;
  min-height: 100%;
  background-color: #0f284a;
  margin-block: 20px;
  border-radius: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.formcontent .pdf-left-img {
  width: 100%;
  height: 300px;
  border: 3px solid #fff;
  border-radius: 0 0 120px 0;
  overflow: hidden;
  background-color: #fff;
}
.formcontent .pdf-left-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.formcontent .pdf-left-info,
.formcontent .pdf-left-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formcontent .pdf-left-info p,
.formcontent .pdf-left-contact p {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 0;
  font-weight: bold;
}
.formcontent .pdf-left-info > div,
.formcontent .pdf-left-contact > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}
.formcontent .pdf-left-info > div span,
.formcontent .pdf-left-contact > div span {
  margin-left: 10px;
  font-size: 0.8rem;
  color: #fff;
}
.formcontent .pdf-left-info > div span:first-child,
.formcontent .pdf-left-contact > div span:first-child {
  font-size: 1rem;
  margin-left: 0;
  font-weight: bold;
  /*   &:before {
                                content: " - ";
                                background-color: transparent;
                            }*/
}
.formcontent .pdf-right {
  margin-top: 30px;
  width: 65%;
  margin-left: 30px;
  padding-block: 30px;
  border-bottom: 3px solid #0f284a;
}
.formcontent .pdf-right-info {
  margin-block: 20px;
}
.formcontent .pdf-right-info h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #0f284a;
  text-transform: uppercase;
  line-height: normal;
}
.formcontent .pdf-right-info h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 0;
}
.formcontent .pdf-right-profile {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.formcontent .pdf-right-profile span {
  font-size: 0.8rem;
  color: #000;
  text-transform: none;
  text-align: left;
}
.formcontent .pdf-right-education .title,
.formcontent .pdf-right-experience .title,
.formcontent .pdf-right-profile .title {
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  width: 100%;
  line-height: 0;
  color: #0f284a;
}
.formcontent .pdf-right-education .title::after,
.formcontent .pdf-right-experience .title::after,
.formcontent .pdf-right-profile .title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #0f284a;
  bottom: -15px;
  left: 0;
}
.formcontent .pdf-right-education > div,
.formcontent .pdf-right-experience > div,
.formcontent .pdf-right-profile > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.formcontent .pdf-right-education > div > div,
.formcontent .pdf-right-experience > div > div,
.formcontent .pdf-right-profile > div > div {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: start;
  overflow-wrap: anywhere;
}
.formcontent .pdf-right-education > div > div .name,
.formcontent .pdf-right-experience > div > div .name,
.formcontent .pdf-right-profile > div > div .name {
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
  line-height: 0;
  position: relative;
}
.formcontent .pdf-right-education > div > div .date,
.formcontent .pdf-right-experience > div > div .date,
.formcontent .pdf-right-profile > div > div .date {
  font-size: 0.8rem;
  color: #000;
  line-height: 0;
}
.formcontent .pdf-right-education > div > div .description,
.formcontent .pdf-right-experience > div > div .description,
.formcontent .pdf-right-profile > div > div .description {
  font-size: 0.7rem;
  color: #000;
}
@media print {
  .header {
    display: none;
  }
  main {
    padding: 0;
    width: 595.2756px;
    /*height: 841.8898px;*/
    /*overflow: hidden;*/
  }
  .formcontent .pdf-left {
    width: 40%;
  }
  .formcontent .pdf-left-info p {
    line-height: 1;
  }
  .formcontent .pdf-right-section {
    page-break-inside: avoid;
  }
}
